.container{
	background: #FFF7E9;
}

.navbar-header{
	margin-bottom:50px;
}

.navbar{
	height:75px;
	z-index:1;
}

.navbar-brand {
	margin-top:0px;
}

input[type="radio"] {
    display:none;        
}
input[type="radio"] + label {
  font: 17px bold;
    margin: 20px;
  cursor: pointer;
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    background-image: url(Images/Controls/radiobutton-off.png);
    background-repeat: no-repeat;
}
input[type="radio"]:checked + label::before {
    background-image: url(Images/Controls/radiobutton-on.png);
}

.container  .navbar-collapse{
	width: 500px;
	margin: 0 auto;
}

.container {
    max-width: 1070px;
}

.logo{
	background: url(../../Content/Images/Controls/logo-with-bg.png) no-repeat; 
	background-size: 248px 100px; 
	position: absolute; 
	width: 248px;
	height: 100px; 
	top: 0; 
	left: 15px;
    z-index: 1;
}
.logobg{
	background: url(../../Content/Images/Controls/bg-logo.png) no-repeat;
	background-size: 28px 99px; 
	position: absolute;
	width: 28px;
	height: 99px; 
	top: 0;
	left: 255px;
	z-index:0;
}

.basketbg{
    background: url(../../Content/Images/Controls/bg-basket-back.png) no-repeat;
	background-size: 28px 99px;
    position: absolute;
	width: 28px;
	height: 99px; 
	top: 0;
    float: right;
	right: 257px;
	z-index:0;
}

.basket{
	background: url(../../Content/Images/Controls/bg-basket.png) no-repeat; 
	background-size: 248px 100px; 
    float: right;
	position: absolute; 
	width: 248px;
	height: 100px; 
	top: 0; 
	right: 12px;
}

.footer{
	background: #444444;
}
.copyright {
    background: #444444;
    text-align: center;
}

.footer img{
	margin:10px;
}

.orange-line{
	height: 10px;
	background: #EF5A06;
    background: -moz-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -webkit-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -o-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -ms-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: linear-gradient(left, #EF5A06 0%, #F1882A 100%);
}

.footer-phone{
	float: right;
	color: #E3E3E3;
	margin: 15px;
}

.btn{
    font-size: 16px;
    float: right;
    padding: 10px;
    color: #ffffff;
	background: #EF5A06;
    background: -moz-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -webkit-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -o-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -ms-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: linear-gradient(left, #EF5A06 0%, #F1882A 100%);
	border-radius:2px;
}

.priceForDishes {
    font-size: 16px;
    float: right;
    padding: 10px;
    color: #ffffff;
	background: #EF5A06;
    background: -moz-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -webkit-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -o-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -ms-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: linear-gradient(left, #EF5A06 0%, #F1882A 100%);
	border-radius:2px;
}

.btnPlusMinus{
    font-size: 14px;
    float: right;
    color: #ffffff;
	background: #F07219;
	border-radius:2px;
    margin: -17px 0px;
}

.btnPlusMinusGroup {
    float: right;
    margin: 17px 0;
}

.product-price {
    font-size: 21px;
    font-weight: bold;
    margin: 10px;
}

.index-descr{
    text-align: center;
}

.div-product{
    background:#fff;
    margin: 7px;
    border-radius: 7px;
    box-shadow: 0 4px 5px #ccc;
    padding:25px;
    min-height: 400px;
}

.div-contact{
    background:#fff;
    border-radius: 7px;
    box-shadow: 0 4px 5px #ccc;
    padding:8px;
    margin-bottom: 10px;
}

.basket-style{
    text-align:center;
    color: #000;
    font-size:20px;
    padding-top:15px;
}

.dropdown-menu li a{
    background: #FBE0CA;
}

.dropdown-menu li a:hover{
    color: #000000;
    background: #F2892B;
}

.contact-tel{
    float:right;
    margin-right:20px;
}

.btns-social-networks, .btns-social-networks div{
    margin: 17px;
}

.div-contact iframe{
    width:100%;
}

#copyright{
    color:#ffffff;
    text-align:center;
}
a.class3:link, a.class3:visited {
    color: white;
}
a {
   color: #7F7F7F;
}
a:hover {
    color: #3F3F3F
}
a.class3:hover
{
    color: #cccccc;text-decoration: none;
}

a.class3:active
{
    color: #ffffff;
    
}
a.class3 {
  
  font-size: 13px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  z-index: 37;

}


div.nav {
    background-color: #7F7F7F;
    color: #EAEAEA;
    height: 50px;
    border-bottom-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
div.nav_col2 {
    padding-bottom: 0px;
    padding-top: 5px;
    background-color: #3F3F3F;
    height: 50px;
    width: 175px;
    padding-right: 0px;
    padding-left: 0px;
}
div.nav_col3 {
    padding-bottom: 15px;
    padding-top: 15px;
}
div.exitTopNav {
    padding-bottom: 2px;
    border-left: 1px solid #EAEAEA;
    margin-top: 15px;
}
body._Body {
    margin-top:0px; background-color:white
}
div.nav_collapse {
    background-color:#7F7F7F; color: #EAEAEA;margin-bottom: 0px;

}
ul.leftNavBar {
    
    margin-top: 0px; background-color:#7F7F7F; top:50px 
}
li.activeStyle {
    border-bottom-width: 1px;  border-bottom-style: solid; border-color: #B0B0B0;
}
div.bg-active-menu_style
{position: absolute; top: 0; right: 0; }
div.bottom_navbar_style {
    
    height:30px ;background-color:#7F7F7F; text-align: right;
   
}
input.mysearch {
    width: 150px;
    padding: 5px;

    margin: 15px;
    height: 30px;
    background-image: url("Images/Controls/Admin/icon-search.png");
    /*//background-image: url('images/microphone.png');*/
    background-repeat: no-repeat;
    background-position: right;
}
div.bottom_navbar_style1 {
    background-color: #3F3F3F;
    width: 175px;
    height: 30px;
}
div.funcElements 
    {
  font-size: 11px;
  font-family: "Arial";
  color: #7F7F7F;
    text-decoration: underline;
    
   
  
}



div.pageWrapperStyle {
    height: 700px;padding-top:0px
}


.div-leave-message {
    padding-bottom: 50px;
}
.div-leave-message button {
    margin: 0 auto;
}

.div-leave-message input {
    width: 170px;
    margin: 5px;
    display: inline-block;
}
.div-leave-message textarea {
    margin: 5px 5px 0 5px;
}

.custom_table-hover > tbody > tr:hover > td,
.custom_table-hover > tbody > tr:hover > th {
  background-color: #fff9ee;
}
.custom_table-hover_div:hover{
  background-color: #fff9ee;
}
.grayStyle {
    background-color: black;

}
.table-bordered > tbody > tr > td {
    border: none;
}
.table-span {
    width: 80%;
    height: 275px !important;
    overflow-y: auto;
    border-bottom: 1px solid #7F7F7F;
    border-left: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
}
.table-span_unproc_orders {
    width: 80%;
    height: 335px !important;
    overflow-y: auto;
     overflow-x:hidden;
    border-bottom: 1px solid #7F7F7F;
    border-left: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
}

#check-order-status {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

#check-order-status-btn {
    float: none;
    margin: 10px;
}

#search-icon {
    position: absolute;
    margin-left: 169px;
    margin-top: 2px;
}


input[type="checkbox"] {
    display:none;            
}
input[type="checkbox"] + label{
  font: 18px bold;
  color: #444;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        height: 22px;
        width: 22px;
        margin: 0 5px 0 0;
        background-image: url(Images/Controls/Admin/checkbox-off.png);
        background-repeat: no-repeat;
    }

input[type="checkbox"]:checked + label::before {
    background-image: url(Images/Controls/Admin/checkbox-on.png);
}


.nameText {
    width: 100%;
}

#btnSaveChanges {
    margin: 0;
    margin-bottom: 5px;
}

.addImg {
    border: 1px solid black;
    padding: 30px 0;
    margin-top: 20px;
}

.addNewDishTxt {
    width: auto;
    display: inline-block;
    margin: 7px 0;
    border-radius: 0;
}

#ingredientsTxt {
    width: 100%;
}

#loadImgBtn {
    margin-top: 20px;
}

.dishDivStyle {
    background: #FEF7F3;
}

.borderRight {
    border-right: 1px solid #ccc;
    padding: 40px;
    height: 370px;
}
.borderRad0 {
    border-radius:0;
}

.borderRight input[type="text"] {
    margin: 7px 5px;
    max-width: 270px;
    display: inline-block;
}

.imgCloseShow {
    display: none;
}

.login {
    width: 30%;
    margin-left: 35%;
    border: 1px solid black;
    height: 60%;
}

.loginH {
    width: 100%;
    height: 40%;
    background: #3F3F3F;
    padding: 70px 0;
}

.loginF {
    width: 100%;
    background: #ffffff;
    padding: 100px 0;
}

.loginF input {
    width: 60%;
    margin: 15px 20%;
}

.catItemsInMenu {
    width: 100%;
    background: #FCE1CB;
    border: none;
    cursor: pointer;
}

.catItemsInMenu : hover {
    background: #F1882A;
    color: #ffffff;
}

#fileButton{
    color:#ffffff;
    background:#808080;
    margin-top:30px;
    margin-bottom:0 auto;
    padding:5px;
    border:none;
    outline: none;
}

.errorStyle {
    border: 1px solid red;
    box-shadow: none;
}

.typeTableStyle{
    border: 1px solid #ccc;
    margin:3px;
    padding:3px 0 5px 3px;
}

.dishInBlockStyle{
    border: 1px solid #ccc;
    border-radius: 7px;
    margin:10px;
    padding:10px 10px 30px 10px;
    max-width: 500px;
}

.dishDivChecked {
    background-color: #fef7f3;
}