.container{
	background: #FFF7E9;
}

.navbar-header{
	margin-bottom:50px;
}

.navbar{
	height:75px;
	z-index:1;
}

.navbar-brand {
	margin-top:0px;
}

input[type="radio"] {
    display:none;        
}
input[type="radio"] + label {
  font: 17px bold;
    margin: 20px;
  cursor: pointer;
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    background-image: url(../../Content/Images/Controls/radiobutton-off.png);
    background-repeat: no-repeat;
}
input[type="radio"]:checked + label::before {
    background-image: url(../../Content/Images/Controls/radiobutton-on.png);
}

.container  .navbar-collapse{
	width: 500px;
	margin: 0 auto;
}

.logo{
	background: url(../../Content/Images/Controls/logo-with-bg.png) no-repeat; 
	background-size: 248px 100px; 
	position: absolute; 
	width: 248px;
	height: 100px; 
	top: 0; 
	left: 30px;
}
.logobg{
	background: url(../../Content/Images/Controls/bg-logo.png) no-repeat;
	background-size: 28px 99px; 
	position: absolute;
	width: 28px;
	height: 99px; 
	top: 0;
	left: 270px;
	z-index:0;
}

.basketbg{
    background: url(../../Content/Images/Controls/bg-basket-back.png) no-repeat;
	background-size: 28px 99px;
    position: absolute;
	width: 28px;
	height: 99px; 
	top: 0;
    float: right;
	right: 275px;
	z-index:0;
}

.basket{
	background: url(../../Content/Images/Controls/bg-basket.png) no-repeat; 
	background-size: 248px 100px; 
    float: right;
	position: absolute; 
	width: 248px;
	height: 100px; 
	top: 0; 
	right: 30px;
}

.footer{
	background: #444444;
}
.copyright {
    background: #444444;
    text-align: center;
}

.footer img{
	margin:10px;
}

.orange-line{
	height: 10px;
	background: #EF5A06;
    background: -moz-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -webkit-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -o-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -ms-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: linear-gradient(left, #EF5A06 0%, #F1882A 100%);
}

.footer-phone{
	float: right;
	color: #E3E3E3;
	margin: 15px;
}

.btn{
    font-size: 16px;
    float: right;
    margin: 5px;
    padding: 10px;
    color: #ffffff;
	background: #EF5A06;
    background: -moz-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -webkit-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -o-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: -ms-linear-gradient(left, #EF5A06 0%, #F1882A 100%);
    background: linear-gradient(left, #EF5A06 0%, #F1882A 100%);
	border-radius:2px;
}

.product-price {
    font-size: 21px;
    font-weight: bold;
    margin: 10px;
}

.index-descr{
    text-align: center;
}

.div-product{
    background:#fff;
    margin: 7px;
    border-radius: 7px;
    box-shadow: 0 0 7px #ccc;
    padding:25px;
}

.div-contact{
    background:#fff;
    border-radius: 7px;
    box-shadow: 0 0 7px #ccc;
    padding:8px;
    margin-bottom: 10px;
}

.basket-style{
    text-align:center;
    color: #000;
    font-size:20px;
    padding-top:15px;
}

.dropdown-menu li a{
    background: #FBE0CA;
}

.dropdown-menu li a:hover{
    color: #000000;
    background: #F2892B;
}

.contact-tel{
    float:right;
    margin-right:20px;
}

.btns-social-networks, .btns-social-networks div{
    margin: 17px;
}

.div-contact iframe{
    width:100%;
}

#copyright{
    color:#ffffff;
    text-align:center;
}
a.class3:link, a.class3:visited {
    color: white;
}

a.class3:hover
{
    color: #cccccc;text-decoration: none;
}

a.class3:active
{
    color: #ffffff;
    
}
a.class3 {
  
  font-size: 13px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
  z-index: 37;

}


div.nav {
    background-color: #7F7F7F;
    color: #EAEAEA;
    height: 50px;
    border-bottom-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
div.nav_col2 {
    padding-bottom: 0px;
    padding-top: 5px;
    background-color: #3F3F3F;
    height: 50px;
    width: 175px;
    padding-right: 0px;
    padding-left: 0px;
}
div.nav_col3 {
    padding-bottom: 15px;
    padding-top: 15px;
}
div.exitTopNav {
    padding-bottom: 2px;
    border-left: 1px solid #EAEAEA;
    margin-top: 15px;
}
body._Body {
    margin-top:0px; background-color:white
}
div.nav_collapse {
    background-color:#7F7F7F; color: #EAEAEA;margin-bottom: 0px;
}
ul.leftNavBar {
    
    margin-top: 0px; background-color:#7F7F7F; top:50px 
}
li.activeStyle {
    border-bottom-width: 1px;  border-bottom-style: solid; border-color: #B0B0B0;
}
div.bg-active-menu_style
{position: absolute; top: 0; right: 0; }
div.bottom_navbar_style {
    
    height:30px ;background-color:#7F7F7F; text-align: right;
   
}
div.bottom_navbar_style1 {
    
    background-color:#3F3F3F; width: 175px;height: 30px;

  

  

}
div.pageWrapperStyle {
    height: 700px;padding-top:0px
}


.div-leave-message {
    padding-bottom: 50px;
}
.div-leave-message button {
    margin: 0 auto;
}

.div-leave-message input {
    width: 170px;
    margin: 5px;
    display: inline-block;
}
.div-leave-message textarea {
    margin: 5px 5px 0 5px;
}

.table-bordered > tbody > tr > td {
    border: none;
}
.table-span {
    width: 80%;
    height: 400px !important;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

#check-order-status {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

#check-order-status-btn {
    float: none;
    margin: 10px;
}
