
@{
    ViewBag.Title = "AddNewOrder";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}

<div class="container-fluid " style="padding-top: 40px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-8">
            <span style="font-size: 20px; font-weight: bold;">Заказ 1234567</span>
        </div>
        <div class="col-sm-2">
            <button class="btn pull-left" id="btnSaveChanges">Сохранить изменения</button><br />
        </div>
    </div>

    <div class="row">
        <span><b>Сумма: </b>0 грн.</span>
    </div>

    <div class="row">

        <div class="col-sm-4 borderRight">
            <span>Заказ</span>
            <a href="#">
                <img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
            </a><br/>
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px"/>
                <span>Красный дракон</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png"/></a>
            </div>
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px"/>
                <span>Калифорнийский унаги</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png"/></a>
            </div>
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px"/>
                <span>Золотой унаги дракон</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png"/></a>
            </div>
            <span>Дополнительно</span>
            <a href="#">
                <img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>
            </a>
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px"/>
                <span>Палочки</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png"/></a>
            </div>
            <div class="dishDiv">
                <input type="number" class="form-control addNewDishTxt" style="width: 70px"/>
                <span>Васаби</span>
                <a href="#" class="pull-right imgClose imgCloseShow"><img src="~/Content/Images/Controls/Admin/icon-close.png"/></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('div.dishDiv').hover(function() {
                        $(this).addClass('dishDivStyle');
                        $(this).find('.imgClose').removeClass('imgCloseShow');
                    },
                    function() {
                        $(this).removeClass('dishDivStyle');
                        $(this).find('.imgClose').addClass('imgCloseShow');
                    });
            });
        </script>
        <div class="col-sm-4 borderRight">
            <span><b>Данные о заказчике</b></span><br/>
            <input type="text" class="form-control" placeholder="Телефон"/><br/>
            <input type="text" class="form-control" placeholder="Улица"/><br/>
            <input type="text" class="form-control" placeholder="Дом" style="width: 128px;"/>
            <input type="text" class="form-control" placeholder="Квартира" style="width: 128px;"/>
        </div>
        <div class="col-sm-4" style="padding: 40px;">
            <select class="form-control" style="max-width: 270px;">
                <option>Состояние заказа</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 pull-right">
            <button class="btn pull-left" style="background: #808080; color: #ffffff;">Удалить</button>
        </div>
    </div>
</div>


