@model Product
@{
    ViewBag.Title = "AddNewDish";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}
@using (Html.BeginForm("AddNewDish","Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "addNewDishForm" }))
{
<div class="container-fluid " style="padding-top: 40px; padding-left: 30px; padding-right: 30px; background-color: white;padding-bottom: 40px">
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-8">
            <input id="NameRus" name="NameRus" style="width: 100%;" type="text" placeholder="Название" class="nameText form-control addNewDishTxt"/>
            <input id="NameUkr" name="NameUkr" style="width: 100%;" type="text" placeholder="Назва" class="nameText form-control addNewDishTxt" />
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn pull-left" id="btnSaveChanges">Сохранить изменения</button><br/><br /><br />
            <label>Блюдо отображается на сайте</label>
            <input id="selectAllOrders" name="isHided" type="checkbox" hidden />
            <label for="selectAllOrders"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <p id="errorMessage" style='color: red;'></p>
            <div class="addImg text-center">
                <img id="output" src="~/Content/Images/Controls/Admin/logo-transparent.png" style="width: 103px;"/><br/>
                <input type="file" id="inputFile" name="uploadPhoto" style="display: none;" onchange="loadFile(event)"/>
                <button type="button" id="fileButton">Загрузить изображение</button>
                <script>
                    $(document).ready(function() {
                        $('#fileButton').click(function() {
                            $("#inputFile").click();
                        });

                        var loadFile = function(event) {
                            var output = document.getElementById('output');
                            output.src = URL.createObjectURL(event.target.files[0]);
                        };


                        function CheckField(element, event) {
                            if (element.val() == "") {
                                event.preventDefault();
                                element.addClass("errorStyle");
                                $("#errorMessage").text("Выделенные поля должны быть заполнены");
                            }
                        }

                        $("#NameRus, #NameUkr, #Price").change(function() {
                            if ($(this).val() != "") {
                                $(this).removeClass("errorStyle");
                                $("#errorMessage").text("");
                            }
                        });

                        $("#addNewDishForm").submit(function(event) {
                            CheckField($("#NameRus"), event);
                            CheckField($("#NameUkr"), event);
                            CheckField($("#Price"), event);
                        });
                    });

                </script>
            </div>
        </div>
        <div class="col-sm-7">
            <label for="priority">Приоритет</label>
            <input type="number" name="Priority" id="priority" class="form-control addNewDishTxt" min="1" max="999" value="1" style="width: 120px;"/>
            <input name="Price" type="text" id="Price" class="form-control addNewDishTxt" placeholder="цена грн" style="width: 200px;"/>
            <select class="form-control addNewDishTxt" name="dishCategory" style="width: 200px;">
                @foreach (var item in ViewBag.Categories)
                {
                    var nameRusCategory = item.NameRus.ToString();
                    var catId = item.CategoryId.ToString();
                    <option name="@catId" value="@catId">@nameRusCategory</option>
                   
                }
            </select><br/>
            <input name="Weight" type="text" id="" class="form-control addNewDishTxt" placeholder="Вес" style="width: 200px;"/>
            <input name="Energy" type="text" id="" class="form-control addNewDishTxt" placeholder="Калорийность" style="width: 200px;"/>
            <input name="Count" type="text" id="" class="form-control addNewDishTxt" placeholder="Количество" style="width: 200px;"/><br/>
            <input name="ingredientsTxtRus" type="text" id="ingredientsTxtRus" class="form-control addNewDishTxt" placeholder="Состав" style="width: 608px;"/>
            <input name="ingredientsTxtUkr" type="text" id="ingredientsTxtUkr" class="form-control addNewDishTxt" placeholder="Склад" style="width: 608px;" />

        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="pull-right">
                <label for="prod1">Пометки:</label>
                <input type="radio" id="prod1" name="prod" value="1" checked="checked" />
                <label for="prod1">Без пометок</label>
                <input type="radio" id="prod2" name="prod" value="2" onclick="goToCart" />
                <label for="prod2">Популярные</label>
                <input type="radio" id="prod3" name="prod" value="3" />
                <label name="Sale" for="prod3">Акции</label>
                <input type="radio" id="prod4" name="prod" value="4" />
                <label for="prod4">Новинки</label>
            </div>
        </div>
    </div>
</div>
}