
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}

<div class="row" style="padding-top: 40px; padding-left: 30px">
    <div class="col-sx-12">
        <p>
            <h3 class="header">
                Категории блюд <img src=@Url.Content("~/Content/Images/Controls/Admin/btn-new.png")>


                <input type="text" class="span3 search-query" style="margin-left: 500px" placeholder="Поиск">
            </h3>
            
        </p>
    </div>
    <div class="row col-xs-12">
        <div class="col-xs-2">Удалить </div>
        <div class="col-xs-2">Редактировать</div>
        <div class="col-xs-2"> Перейти на страницу</div>
        
        <div class="col-xs-6" style="text-align: right">
@{
                string tmp="0";
    foreach (var D in  ViewBag.TotalCategories)
     {
          tmp = D.ToString();
     }
    string cnt = tmp;
  @cnt.ToString();
}
            категорий
        </div>
    </div>
    <div class="row col-xs-12" style="padding-top: 15px; border-width: 3px; border-bottom-style: solid;">
        <div class="col-xs-1"><img src=@Url.Content("~/Content/Images/Controls/Admin/checkbox-off.png")>
        </div>
        <div class="col-xs-1" style="text-align: left">Название </div>
        <div class="col-xs-1"><img src=@Url.Content("~/Content/Images/Controls/Admin/icon-sort-down.png")>
        </div>
        <div class="col-xs-5"></div>
        <div class="col-xs-2">Приоритет</div>
        <div class="col-xs-2">Количество блюд</div>
    </div>

    @foreach (var D in ViewBag.AllCategories)
    {
        var nameRusCategory = D.NameRus.ToString();
        var categoryPriority = D.CategoryId.ToString();
        var totalDishes = D.TotalDishes.ToString();
        
    <div class="row col-xs-12" style="padding-top: 15px; border-width: 1px; border-bottom-style:solid ">
        <div class="col-xs-1">
            <img src=@Url.Content("~/Content/Images/Controls/Admin/checkbox-off.png")>
        </div>
        <div class="col-xs-1" style="text-align: left">@nameRusCategory</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5"></div>
        <div class="col-xs-2">@categoryPriority</div>
        <div class="col-xs-2">@totalDishes</div>
    </div>
    }


    <div class="row col-xs-12" style="padding-top: 15px">
        <div class="col-xs-2">Удалить </div>
        <div class="col-xs-2">Редактировать</div>
        <div class="col-xs-2">Перейти на страницу</div>
        <div class="col-xs-6"></div>
    </div>
</div>

