@model Order


@using (Html.BeginForm("ChangeOrderStatus", "Admin", FormMethod.Post))
{
<div>
    <!-- Modal -->

    <div class="modal fade" id="ChangeOrderStatus" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style=" width: 470px; height: 224px; border-width: 1px; border-style: solid; border-color: #4b4b4b; border-radius: 0; color: white">
                <div class="modal-header" style="background: #4b4b4b; text-color: white; height: 50px">

                    <h4 class="modal-title"><b>Изменить статус</b></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p class="text-center" style="color: black">Изменить состояние заказов номер <span id="ChangedItem"><br /><b></b></span>?</p>

                    </div>
                    <select id="dropdown" class="form-control addNewDishTxt " style="border-radius: 0; margin-left:100px">
                      
                        <option value="1">Выполнен</option>
                        <option value="2">В ожидании</option>
                        <option value="4">Отменен</option>
                        <option value="5">Создан</option>
                        <option value="6">В выполнении</option>

                        
                    </select><br />


                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>
                <!--<div class="modal-footer"></div>-->
                <button type="button" class="btn btn-default" style="border-radius: 0; background: #bfbfbf; color: #ffffff; width: 127px; height: 40px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       position: fixed; top: 150px; left: 103px; margin-top: 30px;"
                        data-dismiss="modal">
                    <b>Отмена</b>
                </button>

                <button type="button" class="btn btn-default" id="changeStatus" style="border-radius: 0; background: #808080; color: #ffffff; width: 127px; height: 40px;
                                                                                                  position: fixed; top: 150px; left: 243px; margin-top: 30px;">
                    <b>Изменить</b>
                </button>

                <!--<input type="button" class="btn btn-default" style="border-radius:0 ; background:#808080;color="#ffffff; width:127px;height:40px;position:fixed; top:150px;left:246px" value="Отправить"/>-->


                <p><img style="position: absolute; bottom: 0;right: 0" src=@Url.Content("~/Content/Images/Controls/Admin/bg-alert-edit.png") /> </p>

            </div>

        </div>
    </div>

</div>
}

