@model Order


@using (Html.BeginForm("DeleteOrderModal", "Admin", FormMethod.Post))
{
<div>
    <!-- Modal -->

    <div class="modal fade" id="DeleteOrderModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content modalContentStandartSize" >
                <div class="modal-header modalHeaderStyle">

                    <h4 class="modal-title"><b>Удалить заказ</b></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p class="text-center" style="color: black">Вы уверенны, что хотите удалить заказ <span id="deletedItem"><br /><b></b></span>?</p>

                    </div>


                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>
                <!--<div class="modal-footer"></div>-->
                <button type="button" class="btn btn-default cancelStandartModal" data-dismiss="modal">
                    <b>Отмена</b>
                </button>

                <button type="button" data-url = "@Url.Action("DeleteOrderModal","Admin")" class="btn btn-default submitStandartModal" id="delOrderBtn">
                    <b>Удалить</b>
                </button>

                <!--<input type="button" class="btn btn-default" style="border-radius:0 ; background:#808080;color="#ffffff; width:127px;height:40px;position:fixed; top:150px;left:246px" value="Отправить"/>-->


                <p><img style="position: absolute; bottom: 0;right: 0" src=@Url.Content("~/Content/Images/Controls/Admin/bg-alert-remove.png") /> </p>

            </div>

        </div>
    </div>

</div>
}

