@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}
<div class="existDish">
    <p>Блюдо с таким названием уже существует.</p>
    <a style="color:blue;font-size:14px;" href="@Url.Action("AddNewDish","Admin")">Добавить другое блюдо</a>
</div>

