@model Product
@using (Html.BeginForm("FindDishes", "Admin", FormMethod.Post))
{
    <form>
        <div style="position: relative;">
            <input type="text" name="NameRus" class="mysearch" placeholder="Поиск" style="border-width: 1px; border-style: solid">
        </div>
    </form>
}