@model Order
@using (Html.BeginForm("FindOrders", "Admin", FormMethod.Post))
{
<form>
    <div style="position: relative;">
        <input type="text" name="OrderId" class="mysearch" placeholder="Поиск" style="border-width: 1px; border-style: solid">
    </div>
</form>
}
