@model WebApplication1.Models.StatisticModel

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
    }
<div class="container-fluid " style="padding-top: 30px; padding-left: 30px; padding-right: 30px; padding-bottom: 40px">
    <div style="padding-top: 15px; padding-left:30px">
        <h3 class="header">Статистика</h3>
        <div class="row col-sm-6">
            <h4><b>Необработанные заказы</b></h4>
            <div class="">
                <table class="table table-hover table-bordered" style="width: 385px; height: 55px;">
                    @foreach (var T in Model.showUnprocessedOrders)
                    {
                    var time = T.Time.ToString();
                    var street = T.Street.ToString();
                    var house = T.House.ToString();
                    var room = T.Room.ToString();
                    var totalPrice = T.TotalPrice.ToString();
                    <tr style="height: 15px; border-width: 1px; border-bottom: 1px; border-top: 1px; border-style: solid; border-color: #7F7F7F">
                        <td><img class="t-img" src=@Url.Content("~/Content/Images/Controls/Admin/icon-eye-grey.png")></td>
                        <td>
                            <b>@time</b><br>
                            @street, @house, @room
                        </td>
                        <td>@totalPrice грн</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
        @Html.Partial("MostPopularDishesChangeValues", Model.mostPopularDishes   )
    </div>
</div>
