
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sushi Way</title>
    <!-- Bootstrap Core CSS -->
   
    <link href=@Url.Content("~/Content/bootstrap.min.css") rel="stylesheet">
    <!-- Custom CSS -->
    <link href=@Url.Content("~/Content/styles.css") rel="stylesheet">
</head>

<body style="background-color:#E9E9E9">


<div class="row">
    <div class="login text-center" style="margin-top: 200px;">
        <div class="loginH">
            <img src="@Url.Content("~/Content/Images/Controls/Admin/logo.png")" style="width: 25%;">
        </div>

        @Html.Partial("CheckLogin", new Administrator());

    </div>
</div>



</body>
</html>	
