<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sushi Way</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Content/mystyle.css" rel="stylesheet">
</head>

<body style="background-color:#E9E9E9">
    <div class="row" style="height: 50px; "></div>
    <div class="row">
        <div class="col-sx-4"></div>
        <div class="col-sx-4" style="margin-left:225px;height:200px ;width: 400px; background-color: #3F3F3F">

            <div style="position: absolute;  top: 175px; left:415px"><img src="../../Content/Images/Controls/Admin/logo.png"></div>
        </div>
        <div class="col-sx-4"></div>
    </div>
    <div class="row">
        <div class="col-sx-4"></div>
        <div class="col-sx-4" style="margin-left:225px;height:270px ;width: 400px; background-color: white; border-bottom-style: solid; border-right-style: solid; border-bottom-width: 1px; border-left-width:1px; border-left-style: solid ; border-right-width:1px; position: absolute">

            <p></p>
            <input type="text" placeholder="Электронная почта" class="form-control" style="width:80%; margin-left:auto; margin-right:auto;margin-top:60px " />
            <p></p>
            <input type="text" placeholder="Пароль" class="form-control" style="width:80%; margin-left:auto;margin-right:auto; margin-top:20px" />

            <p align="center" style="margin-top:20px">
                <a href="Statistics"> <img src="../../Content/Images/Controls/Admin/enter.jpg"></a>
            </p>

        </div>



</body>
</html>	