@model IEnumerable<WebApplication1.MostPopularDishes_Result>
@using (Html.BeginForm("MostPopularDishesChangeValues", "Admin", FormMethod.Post))
{
    <div class="row col-sm-6">
        <h4 style="position: fixed; top: 132px; left: 610px"><b>Самые популярные блюда</b></h4>
        <span style="position: fixed; left: 610px; top: 170px">
                              <select id="categoryDropdown" class="form-control addNewDishTxt categoryDrpdwn" name="categoryId" type="submit">
                                  @foreach (var item in ViewBag.Categories)
                                  {
                                      var nameRusCategory = item.NameRus.ToString();
                                      var catId = item.CategoryId.ToString();
                                      <option name="@catId" value="@catId">@nameRusCategory</option>
                                  }
                              </select>
                          </span>
        <span style="position: fixed; left: 902px; top: 170px">
                              <select id="TopValDropdown" class="form-control addNewDishTxt topValDrpdwn" name="topCategoryVal" type="submit">
                                  <option value="5">5</option>
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="50">50</option>
                                  }
                              </select>
                          </span>
        <div class="table-span mostPopularDishDiv">
            <table class="table custom_table-hover table-bordered" style="height: 275px;">

                @foreach (var item in Model)
                {
                    var numberOfOrders = item.NumberOfOrders.ToString();
                    var nameRus = item.NameRus;
                    var productId = item.ProductId.ToString();
                    var price = item.Price.ToString();

                    price = price.Remove(price.Length - 3);
                    var srcPict = productId += ".jpeg";
                    <tr style="height: 70px !important;border-width: 1px;   border-style: solid;border-color:#7F7F7F;border-left:0px;border-right:0px ">
                        <td class="mostPopularDishTd">заказан<br><b style="font-size:14px"> @numberOfOrders </b><br>раз<br></td>
                        <td><img class="t-img" style="width: 80px; height: 50px; " src=@Url.Content("~/Content/Images/Products/"+@srcPict)></td>
                        <td>@nameRus <br> @price грн</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#TopValDropdown').change(
                function() {

                    $(this.form).submit();

                });

        });
    </script>
}