@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}
<div style="color:red;font-size:18px;margin:70px 0 220px 0;padding-left:20px;">
    <p>@ViewBag.ErrorMessage</p>
    <a style="color:blue;font-size:14px;" href="@Url.Action(@ViewBag.LinkHref,"Admin")">@ViewBag.LinkText</a>
</div>

