<!--<div class="logo" style="background: url(./content/images/bg-basket.png) no-repeat; background-size: 248px 100px; position: absolute;  width: 248px; height: 100px; top: 0; right: 20px;">
    <a href="/#/checkout">
        Корзина
        заказ на {{ total() }} грн
    </a>
</div>
<div class="logobg" style="background: url(./content/images/bg-basket-back.png) no-repeat; background-size: 11px 31px; position: absolute;  width: 11px; height: 31px; right: 267px; top:69px;">
</div>-->

<a href="cart">
    <a href="Cart">
        Корзина dsds
        заказ на {{ cartSum }} грн
    </a>
    <!--<div class="basket hidden-md hidden-sm hidden-xs basket-style">
        <img src="@Url.Content(" ~/Content/Images/Controls/basket-icon.png")"/>
        <span>Корзина</span>

    </div>-->
</a>