<div class="row">
   
    <div class="col-xs-12 col-sm-4" ng-repeat="item in items | filter : countFilter">
        <div class="form-group div-product">
            <h3>{{item.name}}</h3>
            <img src="/Content/Images/Products/{{item.id}}.jpeg" class="img-Product" />
            <div>
                <span class="product-price">{{item.price}}</span>
                <span>Count {{item.count}}</span>
                <button ng-click="isSelected(item)" ng-show="!item.selected" class="btn">Заказать</button>
                <span ng-show="item.selected">
                    <button data-ng-click="removeFromCart(item)" type="button">-</button>
                    <button>{{item.count}}</button>
                    <button data-ng-click="addToCart(item)" type="button">+</button>
                </span>
            </div>
        </div>
    </div>
    
</div>

<h3 class="index-descr">Дополнительно к заказу</h3>
<div class="row">
   
    <div class="col-xs-12 col-sm-4">
        <h3>Product name</h3>
        <img src="/Content/Images/Products/GoldDracon.png" class="img-Product"/>
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>

    
</div>
<h2 class="index-descr">Всего : {{cartSum}}</h2>

<form>
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <input type="text" placeholder="Имя" class="max-size" />
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="number" placeholder="Телефон" class="max-size" />
                </div>
                <div class="col-xs-12 col-md-4">
                    <input type="text" placeholder="E-mail" class="max-size" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <input type="text" placeholder="Улица" class="max-size" />
                </div>
                <div class="col-xs-12 col-sm-2">
                    <input type="text" placeholder="Дом" class="max-size" />
                </div>
                <div class="col-xs-12 col-sm-2">
                    <input type="text" placeholder="Квартира" class="max-size" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="text" placeholder="Коментарии" class="max-size" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="/Content/Images/Controls/delivery-banner.png" />
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn submitOrder" />
        </div>
    </div>
</form>
<br />
<br />

