

<ul class="nav navbar-nav">
    <li class="active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Меню<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" >
            <li ng-repeat="cat in category">
                <button ng-click="goFiltr(cat)">{{cat.name}}</button>
            </li>    
        </ul>

    </li>
    <li><a href="order">Заказ</a></li>
    <li><a href="contact">Контакты</a></li>
</ul>