

<ul class="nav navbar-nav">
    <li class="active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Меню<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="cart">111</a></li>
            <li><a href="filter">@d.NameRus</a></li>
            <li><a href="ProductCategoriesFilter">@d.NameRus</a></li>
            <li><a href="ProductCategoriesFilter">@d.NameRus</a></li>
        </ul>

    </li>
    <li><a href="order">Заказ</a></li>
    <li><a href="contact">Контакты</a></li>
</ul>