<div class="row">
    <h2 class="index-descr">МЕНЮ</h2>
    <p class="index-descr">
        Суши, роллы, нигири и сеты готовятся професионалами и только из свежих продуктов. Только у нас вы найдете<br />
        такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
    </p>
</div>
<div class="row">
    <div class="pull-right">
        <input type="radio" class="index-radio" id="prod1" name="prod" checked="checked" ng-click="goToMenu()" />
        <label for="prod1">Все</label>
        <input type="radio" class="index-radio" id="prod2" name="prod" data-ng-click="topProducts()" />
        <label for="prod2">Популярные</label>
        <input type="radio" class="index-radio" id="prod3" name="prod" data-ng-click="saleProducts()" />
        <label for="prod3">Акции</label>
        <input type="radio" class="index-radio" id="prod4" name="prod" data-ng-click="hotProducts()" />
        <label for="prod4">Новинки</label>
    </div>
</div>
<div ng-repeat ="cat in category | filter : noAddproductFilter ">
    <h3>{{cat.name}}</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 " ng-repeat="item in items | filter : menuFiltr">
            <div class="form-group div-product">
                <div class="row" style="height: 110px">
                    <div class="col-sm-8">
                        <h3>{{item.name}}</h3>
                    </div>
                    <div class=" col-sm-3" style="margin-left: 2px">
                        <img ng-show="item.top" src="/Content/Images/Controls/label-hit.png"/>
                        <img ng-show="item.hot" src="/Content/Images/Controls/label-new.png"/>
                        <img ng-show="item.sale" src="/Content/Images/Controls/label-stock.png"/>
                    </div>
                </div>
                <h3>

                    <img src="/Content/Images/Products/{{item.id}}.jpeg" class="img-Product"/>
                </h3>

                <div>
                    <span class="product-price">{{item.price}} ГРН</span>
                    <button ng-click="isSelected(item)" ng-show="!item.selected" class="btn">Заказать</button>
                    <span ng-show="item.selected">
                        <div class="btn-group btnPlusMinusGroup" role="group">
                            <button data-ng-click="removeFromCart(item)" type="button" class="btn btnPlusMinus btn-default">-</button>
                            <button type="button" class="btn btnPlusMinus btn-default">{{item.count}}</button>
                            <button data-ng-click="addToCart(item)" type="button" class="btn btnPlusMinus btn-default">+</button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>