<div class="row">
    <h2 class="index-descr">МЕНЮ</h2>
    <p class="index-descr">
        Суши, роллы, нигири и сеты готовятся професионалами и только из свежих продуктов. Только у нас вы найдете<br />
        такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
    </p>
</div>
<div class="row">
    <div class="pull-right">
        <input type="radio" class="index-radio" id="prod1" name="prod" checked="checked" />
        <label for="prod1">Все</label>
        <input type="radio" class="index-radio" id="prod2" name="prod" onclick="goToCart" />
        <label for="prod2">Популярные</label>
        <input type="radio" class="index-radio" id="prod3" name="prod" />
        <label for="prod3">Акции</label>
        <input type="radio" class="index-radio" id="prod4" name="prod" />
        <label for="prod4">Новинки</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in items">
        <div class="form-group div-product">
            <h3>{{item.name}}</h3>
            <img src="/Content/Images/Products/{{item.id}}.jpeg" class="img-Product" />
            <div>
                <span class="product-price">{{item.price}} ГРН</span>
                <button ng-click="isSelected(item)" ng-show="!item.selected" class="btn">Заказать</button>
                <span ng-show="item.selected">
                    <button data-ng-click="removeFromCart(item)" type="button">-</button>
                    <button >{{item.count}}</button>
                    <button data-ng-click="addToCart(item)" type="button">+</button>  
                </span>
            </div>
        </div>
    </div>
</div>