<h2 class="index-descr">Состояние заказа</h2>
<div class="row">
    <div class="col-xs-12 col-sm-9">      
            <div class="div-contact text-center" style="height: 180px">
                <span>Заказ номер <b>{{findOredrById}}</b> находится </span> <br />
               <h4  style="color: orangered; margin-top: 5px" >{{resOrderSatus}}</h4> 
                <br/>
                <input style="margin-left: 1px" type="button" class="btn " ng-click="goToMenu()" value="Сделать новый заказ" />
            </div>     
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="div-contact text-center" style="margin: 0px 10px;">
            <p>
                <b>Доставка в течении часа в любую точку Киева</b>
            </p>
            <img src="/Content/Images/Controls/delivery-banner.png" />
            <p>1 минута опоздания = 10 грн</p>
        </div>
    </div>
</div>
<div class="bigRow"></div>