<div class="row">
    <h2 class="index-descr">МЕНЮ</h2>
    <p class="index-descr">
        Суши, роллы, нигири и сеты готовятся професионалами и только из свежих продуктов. Только у нас вы найдете<br/>
        такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
    </p>
</div>
<div class="row">
    <div class="pull-right">
        <input type="radio" class="index-radio" id="prod1" name="prod" checked="checked" />
        <label for="prod1">Все</label>
        <input type="radio" class="index-radio" id="prod2" name="prod" />
        <label for="prod2">Популярные</label>
        <input type="radio" class="index-radio" id="prod3" name="prod" />
        <label for="prod3">Акции</label>
        <input type="radio" class="index-radio" id="prod4" name="prod" />
        <label for="prod4">Новинки</label>
    </div>
</div>
<div class="row">
    @{
        string href = "~/Content/Images/Products/";
    }

    @foreach (var d in ViewBag.Product)
    {
        var str = d.ProductId.ToString();
        {
            str +=".jpeg";
        }

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group div-product">
                <h3>@d.NameRus</h3>
                @*<img @Url.Content(String.Format(href+str))/>*@
                <img src="@Url.Content(href+str)" class="img-Product" />
                <div>
                    <span class="product-price">@d.Price</span>
                    <button class="btn">Заказать</button>
                </div>
            </div>
        </div>
    }
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>