
<div class="row">
    <h2 class="index-descr">МЕНЮ</h2>
    <p class="index-descr">
        Суши, роллы, нигири и сеты готовятся професионалами и только из свежих продуктов. Только у нас вы найдете<br />
        такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
    </p>
    <span><input type="radio" class="index-radio" name="prod" />Все</span>
    <input type="radio" class="index-radio" name="prod" />Популярные
    <input type="radio" class="index-radio" name="prod" />Акции
    <input type="radio" class="index-radio" name="prod" />Новинки
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 form-group div-product">
        <h3>Product name</h3>
        <img src="../../Content/Images/Products/GoldDracon.png" />
        <div>
            <span>UAH30</span>
            <button class="btn">Add to basket</button>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./js/bootstrap.js"></script>