
@{
    ViewBag.Title = "OrderStatusSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderStatusSearch</h2>

<div class="row">
    <div class="col-xs-12 col-md-9 text-center">

        <h4 class="index-descr">Введите номер заказа, что бы узнать его состояние</h4>
        <input type="text" placeholder="XXXXXXXXXXXX" />
        <br />
        <br />
        <input type="submit" class="btn" title="Проверить" />
    </div>
    <div class="col-xs-12 col-md-3">
        <img @Url.Content("~/Content/Images/Controls/delivery-banner.png") />
    </div>
</div>
<div class="bigRow"></div>
