@{
    ViewBag.Title = "Состояние заказа";
}
<div class="row">
    <h2 class="index-descr">Состояние заказа</h2>
</div>
<div class="row">
    <div class="div-contact text-center">
        <h4>Заказ №<b>@ViewBag.OrderNumber</b></h4>
        <h4>Статус: <b>@ViewBag.Status</b></h4>
    </div>
</div>


