
@{
    ViewBag.Title = "SortByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h3 class="index-descr">@ViewBag.Category.ToString()</h3>
    @{
        string href = "~/Content/Images/Products/";
    }

    @foreach (var d in ViewBag.Product)
    {
        var str = d.ProductId.ToString();
        {
            str += ".jpeg";
        }

        <div class="col-xs-12 col-sm-4">
            <div class="form-group div-product">
                <h3>@d.NameRus</h3>
                <img src="@Url.Content("/Content/Images/Products/")@str" class="img-Product" />
                <div>
                    <span>@d.Price</span>
                    <button class="btn">Заказать</button>
                </div>
            </div>
        </div>
    }
</div>